.about {
    padding: 60px 0;
    margin-bottom: 120px;
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    &__left {
        width: 60%;
    }
    &__title {
        font-family: 'DeutschGothic', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    &__descr {
        font-family: 'DeutschGothic', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    &__right {
        width: 30%;
    }
    &__img {
        width: 100%;
        height: 500px;
        & > picture {
            width: 100%;
            height: 100%;
            display: block;
            & > img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__btn {
        width: 100%;
        max-width: 200px;
        height: 60px;
        background-color: $mainColor;
        color: $textWhiteColor;
        font-size: 20px;
        border-radius: 15px;
        padding: 10px 15px;
        transition: all .4s ease;
        &:hover {
            background-color: $mainColorHover;
        }
    }
}