.care {
    padding: 100px 0;
    &__title {
        font-family: "DeutschGothic", Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 120%;
        color: $textBlackColor;
        width: 100%;
        max-width: 1200px;
         margin: 0 auto;
        margin-bottom: 100px;       
        & > span {
            font-family: "DeutschGothic", Arial, Helvetica, sans-serif;
            font-size: 50px;
            font-weight: 700;
            line-height: 120%;
            color: $mainColor;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 30px;
    }
    &__item {
        padding: 30px;
        border: 1px solid $textGrayColor;
        border-radius: 30px;
        &-el {
            position: relative;
            width: 30px;
            height: 30px;
            margin-bottom: 30px;
            &::before {
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                width: 30px;
                height: 30px;
                background: url('../icons/portraits.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}