.footer {
    padding: 100px 0;
    width: 100%;
    background-color: $mainColor;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__policy {
        font-family: 'DeutschGothic', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: $textWhiteColor;
    }
    &__copy {
        font-family: 'DeutschGothic', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: $textWhiteColor;
    }
}