.loader {
    // background-color: $textWhiteColor;
    background-color: $textBlackColor;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    &__wrapper {
        margin: 200px auto !important
    }
    
}

// .loader__images-img {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform-origin: -120px 0; 
// }

/* Анимация вращения */
// @keyframes orbit {
//     from { transform: rotate(0deg); }
//     to   { transform: rotate(360deg); }
// }

// /* Солнце */
// .loader__sun {
//     animation: orbit 4s linear infinite;
// }

// /* Луна — идёт следом, со сдвигом на 180° */
// .loader__moon {
//     animation: orbit 4s linear infinite;
//     animation-delay: -2s; /* половина времени — следом за солнцем */
// }
