.main {
    width: 100%;
    height: 100vh;
    padding: 200px 0 0 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        width: 60%;
    }
    &__title {
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
        font-size: 50px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 60px auto;
        & > b {
            font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
            font-size: 50px;
        }    }
    &__descr {
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
        font-size: 30px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 60px auto;
    }
    &__images {
        width: 300px;
        height: 300px;
        position: relative;
        &-img {
            width: 90px;
            height: 90px;
            & > img {
                width: 100%;
                height: 100%;
            }
            &--house {
                width: 200px;
                height: 200px;
                & > img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.orbit-wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orbit {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spin 10s linear infinite;
}

.sun {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.moon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.theme-img {
    width: 200px;
    height: 200px;
    & > img {
        width: 100%;
        height: 100%;
    }
}
.sun-img {
    width: 120px;
    height: 120px;
    & > img {
        width: 100%;
        height: 100%;
    }
}
.moon-img {
    width: 120px;
    height: 120px;
    & > img {
        width: 100%;
        height: 100%;
    }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}


