.main {
    background: url('../img/desktop/main-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding: 400px 0 0 0;
    &__title {
        font-size: 50px;
        color: $textWhiteColor;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 60px auto;
    }
    &__descr {
        font-size: 30px;
        color: $textWhiteColor;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 60px auto;
    }
}