.main {
    &__img {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: -1;
        & > picture {
            display: block;
            width: 100%;
            height: 100%;
            & > img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__title {
        font-size: 50px;
        color: $textWhiteColor;
        position: absolute;
        top: 10%;
        left: 20%;
        width: 100%;
        max-width: 1200px;
    }
    &__descr {
        font-size: 30px;
        color: $textWhiteColor;
        position: absolute;
        top: 15%;
        left: 20%;
        width: 100%;
        max-width: 800px;
    }
}