.main {
    width: 100%;
    height: 100vh;
    padding: 200px 0 0 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        width: 60%;
    }
    &__title {
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
        font-size: 50px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 60px auto;
        & > b {
            font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
            font-size: 50px;
        }    }
    &__descr {
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
        font-size: 30px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 60px auto;
    }
    &__image {
        width: 40%;
        height: 800px;
        border: 5px solid $textWhiteColor;
        border-radius: 0 0 100% 100%;
    }
}