.modal {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transition: all .4s ease;
    &__dialog {
        width: 100%;
        max-width: 600px;
        margin: 100px auto;
        padding: 40px;
        background-color: $textWhiteColor;
        border-radius: 20px;
        transition: all .6s ease;
        // transform: scale(0);
    }
    &__head {
        display: flex;
        align-items: start;
        justify-content: space-between;
        &-box {
            width: 90%;
        }
        &-title {
            font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
            font-size: 30px;
            line-height: 120%;
            color: $textBlackColor;           
            text-align: center;    
            margin-bottom: 30px;        
        }
        &-subtitle {
            font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
            font-size: 20px;
            line-height: 120%;
            color: $mainColor;           
            text-align: center;
            margin-bottom: 40px;
        }
    }
    &__close {
        width: 50px;
        height: 50px;
        position: relative;
        top: -40px;
        right: -40px;
        border-radius: 20px;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 80%;
            height: 3px;
            background-color: $mainColor;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 80%;
            height: 3px;
            background-color: $mainColor;
        }
    }
    &__label {
        width: 100%;
    }
    &__input {
        width: 100%;
        padding: 15px 20px;
        margin-bottom: 30px;
        background-color: $textWhiteColor;
        border-bottom: 2px solid $mainColor;

        font-family: 'cuprum', Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 120%;
        color: $mainColor; 
        font-weight: 400;
        &:last-child {
            margin-bottom: 80px;
        }          
    }
    &__textarea {
        width: 100%;
        height: 200px;
        padding: 15px 20px;
        margin-bottom: 30px;
        background-color: $textWhiteColor;
        border-bottom: 2px solid $mainColor;

        font-family: 'cuprum', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: $mainColor;
    }
    &__warning {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 5px;
    }
    &__information {
        font-size: 14px;
        line-height: 120%;
        width: 100%;
        color: $textBlackColor;
        & > a {
            font-size: 12px;
            line-height: 120%;
            color: $mainColor;
        }
    }    
    &__active {
        visibility: visible;
        .modal__dialog {
            transform: scale(1);
        }
    }
    &__hidden {
        visibility: hidden;
        .modal__dialog {
            transform: scale(0);
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: $mainColor;
        margin-bottom: 30px;
        font-family: 'Montserrat-Bold';
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        color: $textWhiteColor;
        transition: all .4s ease;
        &:hover {
            background-color: $mainColorOpacity;
        }
    }
}
