.services {
    padding: 100px 0;
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 30px;
    }
    &__left {
        width: 30%;
    }
    &__title {
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        width: 100%;
        margin-bottom: 50px;
    }
    &__items {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 15px;
    }
    &__item {
        padding: 20px;
        border-radius: 20px;
        background-color: $grayBlackColor;
        &-img {
            width: 120px;
            height: auto;
            position: relative;
        }
        &-title {
            font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            margin-bottom: 30px;
        }
        &-descr {
            font-family: 'cuprum', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            & > a {
                color: $mainColor;
            }
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 2px solid $textWhiteColor;
        background: none;
        color: $textWhiteColor;
        border-radius: 10px;
        width: 100%;
        max-width: 240px;
        height: 50px;
        transition: all .4s ease;
        &:hover {
            border: 2px solid $mainColor;
            color: $mainColor;
        }
    }
}