.social {
    width: 100%;
    max-width: 150px;
    // padding: 20px 0;
    // position: fixed;
    // top: 15%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    align-items: start;
    justify-content: center;
    // flex-direction: column;
    gap: 10px;
    &__link {
        display: block;
        width: 35px;
        height: 35px;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
}