.team {
    padding: 100px 0;
    background-image: url('../img/desktop/team-dekstop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    &__title {
        font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: $textWhiteColor;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 80px;
    }
    &__pr {
        font-family: "cuprum", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 120%;
        color: $textWhiteColor;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 20px;
        width: 100%;
        max-width: 1200px;
        margin-left: 40px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        width: 49%;
    }
    &__feedback {
        width: 40%;
        &-form {
            width: 100%;
        }
        &-label {
            width: 100%;
        }
        &-input {
            width: 100%;
            height: 40px;
            max-width: 400px;
            margin-bottom: 20px;
            padding: 10px 15px;
        }
        &-textarea {
            max-width: 400px;
            width: 100%;
            height: 80px;
            margin-bottom: 20px;
            padding: 10px 15px;
        }
        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 400px;
            height: 50px;
            background-color: $mainColor;
            margin-bottom: 30px;
            font-family: 'Montserrat-Bold';
            font-weight: 700;
            font-size: 20px;
            line-height: 1.5;
            color: $textWhiteColor;
            transition: all .4s ease;
            &:hover {
                background-color: $mainColorOpacity;
            }
        }
        &-warning {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
            &--text {
                font-family: 'cuprum', Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 1.5;
                & > a {
                    display: block;
                    font-family: 'cuprum', Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    color: $mainColor;
                }
            }
        }
    }
}