.team {
    padding: 100px 0;
    background-image: url('../img/desktop/team-dekstop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    &__title {
        font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: $textWhiteColor;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 80px;
    }
    &__pr {
        font-family: "cuprum", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 120%;
        color: $textWhiteColor;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 20px;
        width: 100%;
        max-width: 1200px;
        margin-left: 40px;
    }
}