.teams {
    padding: 100px 0;
    &__title {
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 120%;
        font-size: 50px;
        margin-bottom: 100px;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 15px;
    }
    &__item {
        width: 25%;
    }
    &__img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        & > picture {
            display: block;
            width: 100%;
            height: 100%;
            & > source {
                display: block;
                width: 100%;
                height: 100%;
            }
            & > img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__name {
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 120%;
        font-size: 30px;
        margin-bottom: 15px;
    }
    &__descr {
        font-family: 'cuprum', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
    }
    &__mobile {
        display: none;
        &-item {
            width: 100%;
            height: 100%;
        }
        &-img {
            width: 300px;
            height: 300px;
            & > img {
                width: 100%;
                height: 100%;
            }
        }
        &-name {
            font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
            font-weight: 700;
            line-height: 120%;
            font-size: 20px;
            margin-bottom: 15px;
            max-width: 300px;
        }
        &-descr {
            font-family: 'cuprum', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            max-width: 300px;
        }
    }
}