@charset "UTF-8";
@font-face {
  font-family: "DeutschGothic";
  src: url("../fonts/DeutschGothic");
  src: url("../fonts/DeutschGothic.eot") format("embedded-opentype"), url("../fonts/DeutschGothic.woff") format("woff"), url("../fonts/DeutschGothic.ttf") format("truetype");
  font-style: "regular";
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserat");
  src: url("../fonts/montserat/Montserrat-Bold.eot") format("embedded-opentype"), url("../fonts/montserat/Montserrat-Bold.woff") format("woff"), url("../fonts/montserat/Montserrat-Bold.ttf") format("truetype");
  font-style: "regular";
  font-weight: 700;
}
@font-face {
  font-family: "cuprum";
  src: url("../fonts/cuprum");
  src: url("../fonts/cuprum/Cuprum-Regular.eot") format("embedded-opentype"), url("../fonts/cuprum/Cuprum-Italic.woff") format("woff"), url("../fonts/cuprum/Cuprum-Regular.ttf") format("truetype");
  font-style: "regular";
  font-weight: 400;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

ul {
  list-style: none;
}

input {
  border: none;
  display: block;
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

label {
  display: block;
}

textarea {
  display: block;
  border: none;
  resize: none;
}
textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

button {
  cursor: pointer;
  border: none;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
}

.body__container {
  overflow: hidden;
  position: relative;
}

.dark__style {
  background-color: #1d1d1d;
  color: #f1fcfd;
}
.dark__style .header__nav-list > li > a {
  color: #f1fcfd;
}

.light__style {
  background-color: #f1fcfd;
  color: #1d1d1d;
}
.light__style .loader {
  background-color: #f1fcfd;
}
.light__style .header__nav-list > li > a {
  color: #1d1d1d;
}
.light__style .mobile__menu-list > li > a {
  color: #1d1d1d;
}
.light__style .header__btn {
  border: 2px solid #1d1d1d;
  color: #1d1d1d;
}
.light__style .services__item {
  background-color: #999999;
}
.light__style .services__item-img > span {
  background-color: #1d1d1d;
}
.light__style .services__btn {
  color: #1d1d1d;
  border: 2px solid #1d1d1d;
}

.load-ready {
  display: none;
}

.loader {
  background-color: #1d1d1d;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.loader__wrapper {
  margin: 200px auto !important;
}

/* Анимация вращения */
.header {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  background-color: #365eab;
  z-index: 10;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}
.header__nav-list > li {
  position: relative;
}
.header__nav-list > li::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 10px;
  background-color: #999999;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav-list > li > a {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 120%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav-list > li:hover::before {
  width: 100%;
}
.header__nav-list > li:hover > a {
  color: #999999;
}
.header__change-item {
  cursor: pointer;
  font-size: 30px;
}
.header__change-item--DU {
  display: none;
}
.header__change-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
}
.header__change-color > span {
  font-size: 30px;
}
.header__change-colors {
  cursor: pointer;
}
.header__btn {
  width: 100%;
  max-width: 200px;
  height: 60px;
  background-color: #365eab;
  border: 2px solid #f1fcfd;
  color: #f1fcfd;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__btn:hover {
  background-color: #4f64b3;
}

.custom-logo {
  width: 140px;
  height: 100px;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 30px;
}
.custom-logo > img {
  width: 100%;
  height: 100%;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 31;
}
.hamburger > span {
  position: absolute;
  top: 0;
  left: 3%;
  width: 90%;
  height: 3px;
  background-color: #1d1d1d;
  border-radius: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hamburger > span:first-child {
  top: 30%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger > span:nth-child(2) {
  top: 50%;
}
.hamburger > span:last-child {
  top: 70%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mobile__menu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #999999;
  z-index: 30;
  padding: 60px 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mobile__menu-list {
  margin-bottom: 60px;
}
.mobile__menu-list > li {
  margin-bottom: 30px;
}
.mobile__menu-list > li > a {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #f1fcfd;
}
.mobile__menu-btn {
  border: none;
  margin-bottom: 30px;
}

.menu__active .mobile__menu {
  right: 0;
}
.menu__active .hamburger > span:first-child {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.menu__active .hamburger > span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.menu__active .hamburger > span:last-child {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.main {
  width: 100%;
  height: 100vh;
  padding: 200px 0 0 0;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__left {
  width: 60%;
}
.main__title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px auto;
}
.main__title > b {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.main__descr {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px auto;
}
.main__images {
  width: 300px;
  height: 300px;
  position: relative;
}
.main__images-img {
  width: 90px;
  height: 90px;
}
.main__images-img > img {
  width: 100%;
  height: 100%;
}
.main__images-img--house {
  width: 200px;
  height: 200px;
}
.main__images-img--house > img {
  width: 100%;
  height: 100%;
}

.orbit-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.sun {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.moon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.theme-img {
  width: 200px;
  height: 200px;
}
.theme-img > img {
  width: 100%;
  height: 100%;
}

.sun-img {
  width: 120px;
  height: 120px;
}
.sun-img > img {
  width: 100%;
  height: 100%;
}

.moon-img {
  width: 120px;
  height: 120px;
}
.moon-img > img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.teams {
  padding: 100px 0;
}
.teams__title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 50px;
  margin-bottom: 100px;
  text-align: center;
}
.teams__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
  gap: 10px;
}
.teams__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.teams__img > picture {
  display: block;
  width: 100%;
  height: 100%;
}
.teams__img > picture > source {
  display: block;
  width: 100%;
  height: 100%;
}
.teams__img > picture > img {
  width: 100%;
  height: 100%;
}
.teams__name {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 30px;
  margin-bottom: 15px;
}
.teams__descr {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
.teams__mobile {
  display: none;
}
.teams__mobile-item {
  width: 100%;
  height: 100%;
}
.teams__mobile-img {
  width: 300px;
  height: 300px;
}
.teams__mobile-img > img {
  width: 100%;
  height: 100%;
}
.teams__mobile-name {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: 20px;
  margin-bottom: 15px;
  max-width: 300px;
}
.teams__mobile-descr {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 300px;
}

.about {
  padding: 60px 0;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about__left {
  width: 60%;
}
.about__title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 30px;
}
.about__descr {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 30px;
}
.about__right {
  width: 30%;
}
.about__img {
  width: 100%;
  height: 500px;
}
.about__img > picture {
  width: 100%;
  height: 100%;
  display: block;
}
.about__img > picture > img {
  width: 100%;
  height: 100%;
}
.about__btn {
  width: 100%;
  max-width: 200px;
  height: 60px;
  background-color: #365eab;
  color: #f1fcfd;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.about__btn:hover {
  background-color: #4f64b3;
}

.care {
  padding: 100px 0;
}
.care__title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.care__title > span {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  color: #365eab;
}
.care__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
.care__item {
  padding: 30px;
  border: 1px solid #999999;
  border-radius: 30px;
}
.care__item-el {
  position: relative;
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
}
.care__item-el::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../icons/portraits.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team {
  padding: 100px 0;
  background-image: url("../img/desktop/team-dekstop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.team__title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #f1fcfd;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}
.team__pr {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 120%;
  color: #f1fcfd;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
  margin-left: 40px;
}
.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__left {
  width: 49%;
}
.team__feedback {
  width: 40%;
}
.team__feedback-form {
  width: 100%;
}
.team__feedback-label {
  width: 100%;
}
.team__feedback-input {
  width: 100%;
  height: 40px;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 10px 15px;
}
.team__feedback-textarea {
  max-width: 400px;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  padding: 10px 15px;
}
.team__feedback-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: #365eab;
  margin-bottom: 30px;
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #f1fcfd;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.team__feedback-btn:hover {
  background-color: rgba(54, 94, 171, 0.5647058824);
}
.team__feedback-warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
}
.team__feedback-warning--text {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.team__feedback-warning--text > a {
  display: block;
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #365eab;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.modal__dialog {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 40px;
  background-color: #f1fcfd;
  border-radius: 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal__head-box {
  width: 90%;
}
.modal__head-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 120%;
  color: #1d1d1d;
  text-align: center;
  margin-bottom: 30px;
}
.modal__head-subtitle {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #365eab;
  text-align: center;
  margin-bottom: 40px;
}
.modal__close {
  width: 50px;
  height: 50px;
  position: relative;
  top: -40px;
  right: -40px;
  border-radius: 20px;
  cursor: pointer;
}
.modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 80%;
  height: 3px;
  background-color: #365eab;
}
.modal__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 80%;
  height: 3px;
  background-color: #365eab;
}
.modal__label {
  width: 100%;
}
.modal__input {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 30px;
  background-color: #f1fcfd;
  border-bottom: 2px solid #365eab;
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #365eab;
  font-weight: 400;
}
.modal__input:last-child {
  margin-bottom: 80px;
}
.modal__textarea {
  width: 100%;
  height: 200px;
  padding: 15px 20px;
  margin-bottom: 30px;
  background-color: #f1fcfd;
  border-bottom: 2px solid #365eab;
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #365eab;
}
.modal__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
}
.modal__information {
  font-size: 14px;
  line-height: 120%;
  width: 100%;
  color: #1d1d1d;
}
.modal__information > a {
  font-size: 12px;
  line-height: 120%;
  color: #365eab;
}
.modal__active {
  visibility: visible;
}
.modal__active .modal__dialog {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.modal__hidden {
  visibility: hidden;
}
.modal__hidden .modal__dialog {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #365eab;
  margin-bottom: 30px;
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #f1fcfd;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.modal__btn:hover {
  background-color: rgba(54, 94, 171, 0.5647058824);
}

.services {
  padding: 100px 0;
}
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}
.services__left {
  width: 30%;
}
.services__title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  width: 100%;
  margin-bottom: 50px;
}
.services__items {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 15px;
}
.services__item {
  padding: 20px;
  border-radius: 20px;
  background-color: #212121;
}
.services__item-img {
  width: 120px;
  height: auto;
  position: relative;
}
.services__item-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 30px;
}
.services__item-descr {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.services__item-descr > a {
  color: #365eab;
}
.services__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: 2px solid #f1fcfd;
  background: none;
  color: #f1fcfd;
  border-radius: 10px;
  width: 100%;
  max-width: 240px;
  height: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.services__btn:hover {
  border: 2px solid #365eab;
  color: #365eab;
}

.footer {
  padding: 100px 0;
  width: 100%;
  background-color: #365eab;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__policy {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #f1fcfd;
}
.footer__copy {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #f1fcfd;
}

@media (max-width: 1480px) {
  .custom-logo {
    width: 150px;
    font-size: 20px;
  }
  .header__btn {
    max-width: 200px;
    font-size: 20px;
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
  }
  .teams__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .services__left {
    width: 100%;
  }
  .services__items {
    width: 100%;
  }
  .footer__policy {
    font-size: 16px;
  }
  .footer__copy {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  .header__left {
    gap: 10px;
  }
  .header__nav-list {
    gap: 10px;
  }
  .header__nav-list > li > a {
    font-size: 25px;
  }
  .header__change-item {
    font-size: 25px;
  }
  .header__change-color {
    font-size: 25px;
  }
  .header__right {
    gap: 10px;
  }
  .header__btn {
    height: 50px;
  }
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__left {
    width: 45%;
  }
  .about__right {
    width: 40%;
  }
  .team__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .team__left {
    width: 100%;
  }
  .team__title {
    text-align: left;
    font-size: 30px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .team__pr {
    margin: 0 0 15px 0;
  }
  .team__feedback-warning--text {
    color: #365eab;
  }
  .footer__policy {
    font-size: 14px;
  }
  .footer__copy {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
  .header__change-lingue {
    display: none;
  }
  .header__change-colors {
    display: none;
  }
  .header__change-colors--mobile {
    display: block;
  }
  .header__change-color {
    margin-bottom: 30px;
  }
  .header__change-color > span {
    font-size: 30px;
  }
  .header__change-color > img {
    width: 30px;
    height: 30px;
  }
  .header__change-item {
    font-size: 30px;
  }
  .header__btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .mobile__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__right {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
  .teams__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .care__title {
    font-size: 40px;
    margin-bottom: 60px;
  }
  .care__title > span {
    font-size: 40px;
  }
  .care__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__image {
    width: 50%;
    height: 400px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto 50px auto;
  }
  .main__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .team__title {
    font-size: 40px;
  }
  .team__pr {
    font-size: 20px;
    margin-left: 0;
  }
}
@media (max-width: 993px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer__policy {
    font-size: 20px;
  }
  .footer__copy {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .main__left {
    width: 100%;
  }
  .orbit-wrapper {
    width: 300px;
    height: 300px;
  }
  .theme-img {
    width: 100px;
    height: 100px;
  }
  .theme-img > img {
    width: 100%;
    height: 100%;
  }
  .sun-img {
    width: 60px;
    height: 60px;
  }
  .sun-img > img {
    width: 100%;
    height: 100%;
  }
  .moon-img {
    width: 60px;
    height: 60px;
  }
  .moon-img > img {
    width: 100%;
    height: 100%;
  }
  .about__title {
    font-size: 30px;
  }
  .about__descr {
    font-size: 20px;
  }
  .teams__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .teams__name {
    font-size: 23px;
  }
  .care {
    padding: 60px 0;
  }
  .care__item {
    padding: 10px;
    overflow: hidden;
  }
  .care__item-el {
    margin-bottom: 10px;
  }
  .care__item-title {
    font-size: 14px;
  }
  .care__title {
    font-size: 25px;
    line-height: 150%;
  }
  .care__title > span {
    font-size: 25px;
    line-height: 150%;
  }
  .care__grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .team__feedback {
    width: 100%;
  }
}
@media (max-width: 556px) {
  .header {
    padding: 10px 0;
  }
  .main__title {
    font-size: 30px;
    max-width: 380px;
    margin: 0 0 40px 0;
  }
  .main__descr {
    font-size: 20px;
    max-width: 380px;
    margin: 0 0 40px 0;
  }
  .care__title {
    font-size: 20px;
  }
  .care__title > span {
    font-size: 20px;
  }
  .services__title {
    font-size: 30px;
  }
  .services__item-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .services__item-descr {
    font-size: 16px;
  }
  .loader__images {
    width: 100px;
    height: 100px;
  }
  .loader__images-img {
    width: 30px;
    height: 30px;
    -webkit-transform-origin: -20px 0;
            transform-origin: -20px 0;
  }
  .loader__images-img > img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 15px;
  }
  .custom-logo {
    width: 100px;
  }
  .main {
    height: 90vh;
  }
  .main__image {
    height: 200px;
  }
  .main__left {
    width: 100%;
  }
  .main__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main__title > b {
    font-size: 32px;
  }
  .main__descr {
    font-size: 16px;
    margin-bottom: 0;
  }
  .about__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .about__descr {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .services__items {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  .team__title {
    font-size: 25px;
  }
  .team__pr {
    font-size: 18px;
  }
  .footer__policy {
    font-size: 16px;
  }
  .footer__copy {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */