@font-face {
    font-family: 'DeutschGothic';
    src: url('../fonts/DeutschGothic');
    src: url('../fonts/DeutschGothic.eot') format('embedded-opentype'),
         url('../fonts/DeutschGothic.woff') format('woff'),
         url('../fonts/DeutschGothic.ttf') format('truetype');
    font-style: 'regular';
    font-weight: 400;
}