.container {
    // max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}
.body__container {
    overflow: hidden;
    position: relative;
}
.dark__style {
    background-color: $textBlackColor;
    color: $textWhiteColor;
    .header__nav-list {
        & > li {
            & > a {
                color: $textWhiteColor;
            }
        }
    }
}
.light__style {
    background-color:  $textWhiteColor;
    color:$textBlackColor;
    .loader  {
        background-color: $textWhiteColor;
        // background-color: $textBlackColor;
    }
    .header__nav-list {
        & > li {
            & > a {
                color:$textBlackColor;
            }
        }
    }
    .mobile__menu {
        &-list {
            & > li {
                & > a {
                    color:$textBlackColor;
                }
            }
        }
    }
    .header__btn {
        border: 2px solid $textBlackColor;
        color: $textBlackColor;
    }
    .services__item {       
       background-color: $textGrayColor;
        &-img {
            & > span {
                background-color: $textBlackColor;
            }
        }
    }
    .services__btn {
        color: $textBlackColor;
        border: 2px solid $textBlackColor;
    }
}
.load-ready {
   display: none;
}