.container {
    // max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}
.body__container {
    overflow: hidden;
    position: relative;
}
.dark__style {
    background-color: $textBlackColor;
    color: $textWhiteColor;
    .header__nav-list {
        & > li {
            & > a {
                color: $textWhiteColor;
            }
        }
    }
}
.light__style {
    background-color:  $textWhiteColor;
    color:$textBlackColor;
    .header__nav-list {
        & > li {
            & > a {
                color:$textBlackColor;
            }
        }
    }
}