
@media (max-width:1480px) {
    .custom-logo {
        width: 150px;
        font-size: 20px;
    }
    .header {
        &__btn {
            max-width: 200px;
            font-size: 20px;
            padding: 15px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
        }
    }
    .teams {
        &__wrapper {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        }
    }
    .services {
        &__wrapper {
            flex-direction: column;
            gap: 50px;
        }
        &__left {
            width: 100%;
        }
        &__items{
            width: 100%;
        }
    }
    .footer {
        &__policy {
            font-size: 16px;
        }
        &__copy {
            font-size: 16px;
        }
    }
}
@media (max-width: 1280px) {
    .header {
        &__left {
            gap: 10px;
        }
        &__nav {
            &-list {
                gap: 10px;
                & > li {
                    & > a {
                        font-size: 25px;
                    }
                }
            }
        }
        &__change {
            &-item {
                font-size: 25px;
            }
            &-color {
               font-size: 25px;
            }
        }
        &__right {
            gap: 10px;
        }
        &__btn {
            height: 50px;
        }
    }
    .main {
        &__wrapper {
            flex-direction: column;
        }
    }
    .about {
        &__left {
            width: 45%;
        }
        &__right {
            width: 40%;
        }
    }   
    .team {
        &__wrapper {
            flex-direction: column;
            gap: 40px;
        }
        &__left {
            width: 100%;
        }
        &__title {
            text-align: left;
            font-size: 30px;
            width: 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }
        &__pr {
            margin: 0 0 15px 0;
        }
        &__feedback {
            &-warning {
                &--text {
                    color: $mainColor;
                }
            }
        }
    }
    .footer {
        &__policy {
            font-size: 14px;
        }
        &__copy {
            font-size: 14px;
        }
    }
}
@media (max-width: 1024px) {
    .header {
        &__nav {
            display: none;
        }
        &__change {
            &-lingue {
                display: none;
            }
            &-colors {
                display: none;
                &--mobile {
                display: block;
            }
            }
            &-color {
                margin-bottom: 30px;
                & > span {
                    font-size: 30px;
                }
                & > img {
                    width: 30px;
                    height: 30px;
                }
            }
            &-item {
                font-size: 30px;
            }            
        }
        &__btn {
            display: none;
        }
    }
    .hamburger {
        display: block;
    }
    .mobile__menu-btn {
        display: flex;
    }
    .about {
        &__wrapper {
            flex-direction: column;
        }
        &__left {
            width: 100%;
            order: 2;
        }
        &__right {
            width: 100%;
            order: 1;
            margin-bottom: 20px;
        }
    }
    .teams {
        &__wrapper {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
    .care {
        &__title {
            font-size: 40px;
            margin-bottom: 60px;
            & > span {
                font-size: 40px;
            }
        }
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
    .main {
        &__wrapper {
            flex-direction: column;
        }
        &__image {
            width: 50%;
            height: 400px;
            order: 1;
            margin: 0 auto 50px auto;
        }
        &__left {
            order: 2;
        }
    }
    .team {
        &__title {
            font-size: 40px;
        }
        &__pr {
            font-size: 20px;
            margin-left: 0;
        }
    }
}
@media (max-width:993px) {
    .footer {
        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }
        &__policy {
            font-size: 20px;
        }
        &__copy {
            font-size: 20px;
        }
    }
}
@media (max-width:768px) {
    .main {
        &__left {
            width: 100%;
        }
    }
    .orbit-wrapper {
        width: 300px;
        height: 300px;
    }
    .theme-img {
        width: 100px;
        height: 100px;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
    .sun-img {
        width: 60px;
        height: 60px;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
    .moon-img {
        width: 60px;
        height: 60px;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
    .about {
        &__title {
            font-size: 30px;
        }
        &__descr {
            font-size: 20px;
        }
    }
    .teams {
        &__wrapper {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }
        &__name {
            font-size: 23px;
        }
    }
    .care {
        padding: 60px 0;
        &__item {
            padding: 10px;
            overflow: hidden;
            &-el {
                margin-bottom: 10px;
            }
            &-title {
                font-size: 14px;
            }
        }
        &__title {
            font-size: 25px;
            line-height: 150%;
            & > span {
                font-size: 25px;
                 line-height: 150%;
            }
        }
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
        }
    }
    .team {
        &__feedback {
            width: 100%;
        }
    }
}
@media (max-width:556px) {
    .header {
        padding: 10px 0;
    }
    .main {
        &__title {
            font-size: 30px;
            max-width: 380px;
            margin: 0 0 40px 0;
        }
        &__descr {
            font-size: 20px;
            max-width: 380px;
            margin: 0 0 40px 0;
        }
    }
    .care {
        &__title {
            font-size: 20px;
            & > span {
                font-size: 20px;
            }
        }
    }
    .services {
        &__title {
            font-size: 30px;
        }
        &__item {
            &-title {
                font-size: 20px;
                margin-bottom: 10px;
            }
            &-descr {
                font-size: 16px;
            }
        }
    }
    .loader {
        &__images {
            width: 100px;
            height: 100px;
            &-img {
                width: 30px;
                height: 30px;
                transform-origin: -20px 0; 
                & > img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@media (max-width:450px) {
    .container {
        padding: 0 15px;
    }
    .custom-logo {
        width: 100px;
    }
    .main {
        height: 90vh;
        &__image {
            height: 200px;
        }
        &__left {
            width: 100%;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 20px;
            & > b {
                font-size: 32px;
            }
        }
        &__descr {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .about {
        &__title {
            font-size: 20px;
            margin-bottom: 16px;
        }
        &__descr {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
    .services {
        &__items {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
        }
    }
    .team {
        &__title {
            font-size: 25px;
        }
        &__pr {
            font-size: 18px;
        }
    }
    .footer {
        &__policy {
            font-size: 16px;
        }
        &__copy {
            font-size: 16px;
        }
    }
}