@media (max-width: 1650px) {
    .header {
        &__nav {
            &-list {
                & > li {
                    & > a {
                        font-size: 20px;
                    }
                }
            }
        }
        &__change {
            &-item {
                font-size: 20px;
            }
            &-color {
                gap: 2px;
                & > span {
                    font-size: 20px;
                }
                & > img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
@media (max-width:1480px) {
    .custom-logo {
        width: 150px;
        font-size: 20px;
    }
    .header {
        &__nav {
            &-list {
                gap: 10px;
            }
        }
        &__right {
            gap: 10px;
        }
        &__btn {
            max-width: 180px;
            font-size: 16px;
            padding: 15px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
        }
    }
    .footer {
        &__policy {
            font-size: 16px;
        }
        &__copy {
            font-size: 16px;
        }
    }
}
@media (max-width: 1280px) {
    .header {
        &__nav {
            &-list {
                & > li {
                    & > a {
                        font-size: 16px;
                    }
                }
            }
        }
        &__change {
            &-item {
                font-size: 16px;
            }
            &-color {
                & > span {
                    font-size: 16px;
                }
                & > img {
                    width: 14px;
                    height: 14px;
                }
            }
        }
        &__btn {
            font-size: 14px;
        }
    }
    .about {
        &__left {
            width: 45%;
        }
        &__right {
            width: 40%;
        }
    }
    .footer {
        &__policy {
            font-size: 14px;
        }
        &__copy {
            font-size: 14px;
        }
    }
}
@media (max-width: 1024px) {
    .header {
        &__nav {
            display: none;
        }
        &__change {
            &-lingue {
                display: none;
            }
            &-colors {
                display: none;
            }
            &-color {
                margin-bottom: 30px;
                & > span {
                    font-size: 30px;
                }
                & > img {
                    width: 30px;
                    height: 30px;
                }
            }
            &-item {
                font-size: 30px;
            }
            &-mobile {
                display: block;
            }
        }
        &__btn {
            display: none;
        }
    }
    .hamburger {
        display: block;
    }
    .mobile__menu-btn {
        display: flex;
    }
    .about {
        &__wrapper {
            flex-direction: column;
        }
        &__left {
            width: 100%;
            order: 2;
        }
        &__right {
            width: 100%;
            order: 1;
            margin-bottom: 20px;
        }
    }
    .care {
        &__title {
            font-size: 40px;
            margin-bottom: 60px;
            & > span {
                font-size: 40px;
            }
        }
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
    .team {
        &__title {
            font-size: 40px;
        }
        &__pr {
            font-size: 20px;
            margin-left: 0;
        }
    }
}
@media (max-width:993px) {
    .footer {
        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }
        &__policy {
            font-size: 20px;
        }
        &__copy {
            font-size: 20px;
        }
    }
}
@media (max-width:768px) {
    .main {
        padding: 150px 0 0 0;
        &__title {
            font-size: 40px;
        }
    }
    .about {
        &__title {
            font-size: 30px;
        }
        &__descr {
            font-size: 20px;
        }
    }
    .care {
        padding: 60px 0;
        &__item {
            padding: 10px;
            overflow: hidden;
            &-el {
                margin-bottom: 10px;
            }
            &-title {
                font-size: 14px;
            }
        }
        &__title {
            font-size: 25px;
            line-height: 150%;
            & > span {
                font-size: 25px;
                 line-height: 150%;
            }
        }
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
        }
    }
    .team {
        &__title {
            font-size: 20px;
            margin-bottom: 40px;
        }
        &__pr {
            font-size: 16px;
            line-height: 150%;
        }
    }
}
@media (max-width:556px) {
    .header {
        padding: 10px 0;
    }
    .main {
        max-height: 450px;
        padding: 150px 0 0 0;
        &__title {
            font-size: 30px;
            max-width: 380px;
            margin: 0 0 40px 0;
        }
        &__descr {
            font-size: 20px;
            max-width: 380px;
            margin: 0 0 40px 0;
        }
    }
    .care {
        &__title {
            font-size: 20px;
            & > span {
                font-size: 20px;
            }
        }
    }
}
@media (max-width:450px) {
    .container {
        padding: 0 15px;
    }
    .main {
        background-image: url('../img/mobile/main-bg-mobile.webp');
        padding: 100px 0 0 0 ;
        &__title {
            font-size: 26px;
            margin-bottom: 20px;
        }
        &__descr {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .about {
        &__title {
            font-size: 20px;
            margin-bottom: 16px;
        }
        &__descr {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
    .footer {
        &__policy {
            font-size: 16px;
        }
        &__copy {
            font-size: 16px;
        }
    }
}