@import 'fonts';
@import 'colors';
@import 'normalize';
@import 'global';

@import '../block/loader';
@import '../block/header';
@import '../block/hamburger';
@import '../block/mobile-menu';
@import '../block/main';
@import '../block/teams';
@import '../block/about';
@import '../block/care';
@import '../block/team';
@import '../block/modal';
@import '../block/services';
@import '../block/social';
@import '../block/footer';

@import 'media';