@import 'fonts';
@import 'colors';
@import 'normalize';
@import 'global';

@import '../block/header';
@import '../block/main';
@import '../block/about';
@import '../block/care';
@import '../block/team';
@import '../block/modal';
@import '../block/footer';